﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="Changepassword.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <style type="text/css">
        .auto-style1
        {
            font-family: 宋体;
            font-size: 9pt;
        }
        
        Input
        {
            font-size: 9pt;
            height: 20px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    <table style="width: 548px">
        <tr style="color: #000000">
            <td class="auto-style1">
                Old Password：
            </td>
            <td class="auto-style1">
                <asp:TextBox ID="txtOldPwd" runat="server" TextMode="Password" Width="138px"></asp:TextBox>
            </td>
        </tr>
        <tr style="color: #000000">
            <td class="auto-style1">
                New Password：
            </td>
            <td class="auto-style1">
                <asp:TextBox ID="txtPwd" runat="server" TextMode="Password" Width="138px"></asp:TextBox>
            </td>
        </tr>
        <tr style="color: #000000">
            <td class="auto-style1">
                confirm Password：
            </td>
            <td class="auto-style1">
                <asp:TextBox ID="txtConfirmPwd" runat="server" TextMode="Password" Width="138px"></asp:TextBox>
            </td>
        </tr>
    </table>
    <table style="width: 548px">
        <tr>
            <td style="font-size: 9pt;" class="auto-style5">
            </td>
            <td style="font-size: 9pt;" class="auto-style4">
                <asp:Button ID="btnCheck" runat="server" Text="Submit" Style="font-size: 9pt; height: 19;
                    width: 60; margin-left: 214px;" onclick="btnCheck_Click" />
                <input name="reset" type="reset" id="reset" value="delete " style="font-size: 9pt;
                    height: 19; width: 60;">
            </td>
            <td style="font-size: 9pt;" class="auto-style3">
            </td>
        </tr>
    </table>
</asp:Content>
