﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Delete.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">


        .auto-style2 {
         width: 150px;
     }
     .auto-style5 {
         width: 100px;
     }
     .auto-style4 {
         width: 158px;
     }
     Input
{
	FONT-SIZE: 9pt;
	}
        .auto-style6 {
            font-family: 宋体;
            font-size: 9pt;
        }
     .auto-style3 {
         width: 151px;
     }
        </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <table style="width: 548px">
        <tr>
            <td align="center" colspan="2">Monster information</td>
            <td class="auto-style2"></td>
        </tr>
        <tr>
            <td style="font-size: 9pt; " class="auto-style5">Name：</td>
            <td style="font-size: 9pt; " class="auto-style4">
                <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
            </td>
            <td class="auto-style6">&nbsp;</td>
        </tr>
        <tr style="color: #000000">
            <td style="font-size: 9pt; " class="auto-style5">Class</td>
            <td style="font-size: 9pt; " class="auto-style4">
                <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
            </td>
            <td style="font-size: 9pt; " class="auto-style2"></td>
        </tr>
        <tr>
            <td style="font-size: 9pt; " class="auto-style5"></td>
            <td style="font-size: 9pt; " class="auto-style4">
                <asp:Button ID="btnCheck" runat="server" Text="submit" style="font-size: 9pt; " OnClick="btnCheck_Click" Width="63px" />
                <input name="reset" type="reset"  id="reset" value="delete " style="font-size: 9pt; height: 19; width: 60; "></td>
            <td style="font-size: 9pt; " class="auto-style3"></td>
        </tr>
    </table>
</asp:Content>

