﻿.style1
{
    width: 133px;
}
.bk
{
    width: 164px;
}
.btn
{
    cursor:pointer;
}
.grd td
{
}
.grdHeader th
{
    text-align: left;
    font-weight: normal;
}
.monsterItem
{
    cursor: pointer;
    border-raidus: 5px;
    border: 1px solid #CCCCCC;
    padding: 4px;
    text-align: center;
}
.monsterItemSelect
{
    padding: 3px;
    border: 2px solid #000000;
    background: #EEEEEE;
}
.monsterItem .title
{
    margin-top: 3px;
    display: block;
}
